name: cd
on: [ push ]

jobs:

  docker-buildx:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: setup buildx
      id: buildx
      uses: docker/setup-buildx-action@v1
      with:
        version: latest
    - name: debug available platforms
      run: echo ${{ steps.buildx.outputs.platforms }}
    - name: Run Buildx
      run: |
        docker buildx build \
          --build-arg version=${{ github.sha }} \
          --platform linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64,linux/ppc64le,linux/s390x \
          --output "type=image,push=false" \
          --tag la3mmchen/borg-in-container:latest \
          --file Dockerfile \
          -- .

  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1 
    - name: print commit sha
      run: echo ${{ github.sha }}
    - name: push the image
      uses: mr-smithers-excellent/docker-build-push@v4
      with:
        tag: ${{ github.GITHUB_REF }}
        image: la3mmchen/borg-in-container
        registry: ghcr.io
        username: ${{ github.ACTOR }}
        password: ${{ secrets.PUSHTOKEN }} 

  publish-latest:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1 
    - name: print commit sha
      run: echo ${{ github.sha }}
    - name: push the image
      uses: mr-smithers-excellent/docker-build-push@v4
      with:
        tag: lastest
        image: la3mmchen/borg-in-container
        registry: ghcr.io
        username: ${{ github.ACTOR }}
        password: ${{ secrets.PUSHTOKEN }} 
